[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://github.com/openembedded/bitbake.git
[submodule "layers/meta-st-openstlinux"]
	path = layers/meta-st-openstlinux
	url = https://github.com/STMicroelectronics/meta-st-openstlinux.git
[submodule "layers/meta-st-stm32mp"]
	path = layers/meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp.git
[submodule "layers/meta-st-stm32mp-addons"]
	path = layers/meta-st-stm32mp-addons
	url = https://github.com/STMicroelectronics/meta-st-stm32mp-addons.git
[submodule "layers/meta-st-scripts"]
	path = layers/meta-st-scripts
	url = https://github.com/STMicroelectronics/meta-st-scripts.git
